<div class="page-header">
	<h1>Add Number into DND List</h1>
</div>
<form name="form" ng-submit="addNumber()" novalidate>
	<label> Upload File </label>
	<br>
	<!-- <input class="form-control" type="text" name="mobile" placeholder="Enter Mobile Number" ng-model ="mobileNumber" ng-pattern="/^[0-9]{10,10}$/" required="">
	<div ng-show="form.$submitted && form.mobile.$invalid" class="error">
      	<span ng-show="form.mobile.$error.required">Contact number required</span>      	
    </div>
    <div ng-show="form.mobile.$invalid" class="error">
    	<span ng-show="form.mobile.$error.pattern" >Please enter numeric and minimum 10 digits</span>
    </div> -->
     <input type="file" file-model="file.upload" name="myFile" enctype="multipart/form-data">
	<br>
	<button class="btn btn-primary" type="submit">Save</button>
</form>

<div class="row show-hide-message" style="margin-top : 20px;" ng-show="flag">
	<div class="alert alert-success" ng-show="success">{{successResponseContents}}</div>
</div>

<div class="row show-hide-message" style="margin-top : 20px;" ng-show="invalidFile">
	<div class="alert alert-danger">{{errorResponseContents}}</div>
</div>