<div class="page-header">
	<!-- <input ng-model="num" ng-show="flag" class="mytableInput"/>
	<table ng-show="flag" class="table">
	<tr>
		<td>Area Code</td>
		<td>Ops Type</td>
		<td>Phone Number</td>
		<td>Phone Type</td>
		<td>Preference</td>
	</tr>
  	<tr ng-repeat="numberDetail in numberDetails | filter: { phoneNumber : num}">
    	<td>{{ numberDetail.areaCode }}</td>
    	<td>{{ numberDetail.opsType }}</td>
	    <td>{{ numberDetail.phoneNumber }}</td>
	    <td>{{ numberDetail.phoneType }}</td>
	    <td>{{ numberDetail.prefrence }}</td>
  	</tr>
</table> -->
	<div class="box1">
		<p>Mobile Numbers</p>
		<textarea ng-model="numSet" class="myTextArea"></textarea>
	</div>

	<div class="box2">
		<button ng-click="getNumberDetails()" class="myButton">=></button>
	</div>

	<div class="box3">
		<p>DND Numbers</p>
		<textarea ng-model="content" ng-list="&#10;" class="myTextArea"></textarea>
	</div>
</div>