<div class="page-header">
	<!-- <input ng-model="num" ng-show="flag" class="mytableInput"/>
	<table ng-show="flag" class="table">
	<tr>
		<td>Area Code</td>
		<td>Ops Type</td>
		<td>Phone Number</td>
		<td>Phone Type</td>
		<td>Preference</td>
	</tr>
  	<tr ng-repeat="numberDetail in numberDetails | filter: { phoneNumber : num}">
    	<td>{{ numberDetail.areaCode }}</td>
    	<td>{{ numberDetail.opsType }}</td>
	    <td>{{ numberDetail.phoneNumber }}</td>
	    <td>{{ numberDetail.phoneType }}</td>
	    <td>{{ numberDetail.prefrence }}</td>
  	</tr>
</table> -->
<textarea ng-model="numSet" rows="15" columns="15"></textarea>
<button ng-click="getNumberDetails()">get</button>
<textarea ng-model="content" ng-list="&#10;" rows="10"></textarea>
</div>